/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    font-family: "Work Sans";
    font-size: 14px;
}
.body{
    max-width: 1140px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}


h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 39px;
}
form fieldset label {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 1em;
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form fieldset input,select {
    height: 51px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    box-shadow: 0px 4px 14px #00000017;
    background-color: white;
    padding-left: 16px;
}

button,input[type="submit"]{
    font-family: "Syne";
    font-weight: 700;
    font-size: 1.2em;
    color: #fffef8;
    height: 38px;
    border: none;
    border-radius: 60px;
    background-color: #1d6154;
    padding: 0px 15px;
    margin: auto;
}

input[type="submit"]{
    padding: 0 80px;
}


/*************************************************************/
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio{
    margin-top: 129px;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
}

.gallery img {
    width: 100%;
    height: calc(100% - 14px);
    object-fit: cover;
}

#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}



footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 585px;
    margin: auto;
}

.filters button {
    color: #1d6154;
    border: #1d6154 1px solid;
    background-color: #fffef8;
}




button.active,button.active:hover {
    color: #fffef8;
    background-color: #1d6154;
    cursor: auto;

}

/**********************Login*******************/

.login {
    width: 379px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login h2 {
    text-align: center;
}

.error {
    background-color: #ff6d6a;
    box-shadow: 0px 4px 14px #ff6d6a;
    text-align: center;
    padding: 25px;
    border-radius: 60px;
    display: none;
}

.editonMode {
    width: 100%;
    height: 59px;
    color: white;
    background-color: black;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}

a {
    text-decoration: none;
    color: unset;
}
.edition {
    font-size: 1rem;
    color: black;
    font-weight: normal;
    position: relative;
    left: 30px;
    display: none;
    cursor: pointer;
}

.edition:hover {
    color: #b1663c;
}

#pswForgotten{
    cursor: not-allowed;
    border: none;
    background-color: #fffef8;
    text-decoration: underline;
    color: #3d3d3d;
    font-size: 1em;
}

/****************Modal*********************/


dialog::backdrop {
  background-color: rgba(7, 7, 7, 0.733);
}

:modal{
    position: absolute;
    top: 660px;
    border: unset;
    border-radius: 25px;
    padding : 0;
    overflow: hidden;
    width: 630px;
}

.modal {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal h3 {
    font-weight: normal;
    font-size: 2em;
    padding: 36px;
    text-align: center;
}

.modal-close {
    align-self: flex-end;
    margin-right: 30px;
    margin-top: 26px;
    height: 18px;
    cursor: pointer;
}



.modal-galery {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 102px;
    column-gap: 9px;
    row-gap: 29px;
    border-bottom: #b3b3b3 1px solid;
    padding-bottom: 50px;
    margin-bottom: 10px;
}
.btn-suppr {
    position: relative;
    top: -100px;
    left: 55px;
    border: black;
    background-color: black;
    height: 17px;
    width: 17px;
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
    font-size: 1.1em;
}
.modal-galery-img {
    object-fit: cover;
    height: 102px;
    width: 76px;
}

.btn-suppr > img {
    width: 10px;
    height: 10px;
}


#modal-next {
    width: 237px;
    margin-top: 38px;
    margin-bottom: 45px;
    font-size: 1em;
}
/***************************************************************************************/
.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f6;
    gap: 7px;
    height: 185px;
    cursor: pointer;
}

.file img {
    width: 76px;
    height: 76px;
}

.file div {
    border-radius: 50px;
    background-color: #cbd6dc;
    font-size: 1em;
    font-weight: normal;
    font-family: "Work Sans";
    padding: 10px 33px;
}
.file p {
    font-size: 0.9em;
    font-weight: 400;
    font-family: "Work Sans";
}

.file input {
    display: none;
}


.modal-head {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.modal-back{
    margin-left: 30px;
    margin-top: 26px;
    cursor: pointer;
}

.save-work {
    text-align: center;
    border-top: 1px solid #b3b3b3;
    padding-top: 32px;
    padding-bottom: 52px;
}

#btn-save-work{
    width: 237px;

}

#btn-save-work:disabled{
    cursor: not-allowed;
    background-color: #A7A7A7;
    color: white;
    border-color: #A7A7A7 ;
}

.modal form {
    width: 420px;
    gap: 25px;
}

button:hover {
    background-color: #1d6154c2;
    color: #fffef8;
    cursor: pointer;
    border-color: #1d6154c2;
}


.footer-login{
    position: fixed;
    bottom: 0;
    right: 0;

}